<script>
    import '../theme.pcss'
    import '@brainandbones/skeleton/themes/theme-skeleton.css'
    import '@brainandbones/skeleton/styles/all.css'
    import '../app.pcss'
    import {AppShell, Dialog} from "@brainandbones/skeleton";
    import Sidebar from "$lib/layout/Sidebar.svelte";
    import {browser} from "$app/environment";
    import {datadogRum} from '@datadog/browser-rum';
    import hljs from 'highlight.js';
    import 'highlight.js/styles/dark.css'
    import { storeHighlightJs } from '@brainandbones/skeleton';
    import {db} from '$lib/utility/firebase'

    storeHighlightJs.set(hljs);

    // datadogRum.init({
    //     applicationId: 'abe01618-9701-453b-91f0-e486b12da22c',
    //     clientToken: 'pub836cfd11b42bf7eb3c9dadabb47b6e3e',
    //     site: 'datadoghq.com',
    //     service: 'spective-app',

        // Specify a version number to identify the deployed version of your application in Datadog
        // version: '1.0.0',
    //     sampleRate: 100,
    //     sessionReplaySampleRate: 100,
    //     trackInteractions: true,
    //     trackResources: true,
    //     trackLongTasks: true,
    //     defaultPrivacyLevel: 'allow'
    // });

    // datadogRum.startSessionReplayRecording();


</script>

<AppShell>
    <!--    <svelte:fragment slot="header">Header</svelte:fragment>-->
    <svelte:fragment slot="sidebarLeft">
        <Sidebar/>
    </svelte:fragment>
    <!-- Router Slot -->
        <slot/>
    <!-- ---- / ---- -->
    <svelte:fragment slot="pageFooter"></svelte:fragment>
</AppShell>

<Dialog backdrop="bg-primary-500/50" blur="backdrop-blur-sm" card="bg-primary-500" duration={250} />