<script lang="ts">
    import {db} from '$lib/utility/firebase';
    import {getFirestore, addDoc, getDoc, collection, updateDoc, doc} from "firebase/firestore";
    import {browser} from '$app/environment'
    import {page} from "$app/stores";
    import {goto} from '$app/navigation'
    import Fa from "svelte-fa/src/fa.svelte";
    import {faCheckCircle, faPencil, faPlay} from "@fortawesome/pro-solid-svg-icons";


    let route: any = {};
    let docReference;
    if (browser) {
        docReference = doc(db, "routes", $page.params.id);
        getDoc(docReference).then(r => route = r.data());
    }

    let target = $page.url.searchParams.get("target");
    let groupBy = $page.url.searchParams.get("groupBy");

    let groups;
    $:{
        const groupings = {};
        for (let stage of (route.stages || [])) {
            const key = groupBy?stage[groupBy]:'stages';
            if(!groupings[key])
                groupings[key] =[]
            groupings[key].push(stage);
        }
        groups = [];
        for (let key of Object.keys(groupings).sort()) {
            groups.push({key, stages: groupings[key]})
        }
    }
     let selectedStage;

</script>
<div>
    {#each groups as group}
        <div>
            <h3>{groupBy}: {group.key}</h3>
            <div class="overflow-x-scroll flex flex-row gap-3">
                {#each group.stages as stage}
               <div class="card p-4 min-w-[200px] mb-3" class:!bg-primary-500={selectedStage===stage} on:click|stopPropagation={()=>selectedStage=stage}>
                   {#each route.stageFields as field}
                       {#if field!==groupBy && stage[field]}
                           <p>{field}: {stage[field]}</p>
                           {/if}
                       {/each}
                  <b class="my-2">{stage.targetOptions[target]}</b>
               </div>
                    {/each}
            </div>
        </div>
    {/each}
</div>