<script lang="ts">
    import {db} from '$lib/utility/firebase';
    import {addDoc, getDocs, collection, deleteDoc, doc} from "firebase/firestore";
    import {writable} from 'svelte/store';
    import Fa from "svelte-fa/src/fa.svelte";
    import {faPlay, faTrash} from "@fortawesome/pro-solid-svg-icons";
    import {browser} from '$app/environment'


    const routeStore = writable([]);
    if (browser)
        updateRoutes()
    let newRoute = {};

    function updateRoutes(){
        getDocs(collection(db, "routes")).then(x =>{
            const routes = [];
           x.forEach(q => routes.push(q));
           routeStore.set(routes);
        } ).catch(e => console.log(e));
    }

    async function addRoute() {
        await addDoc(collection(db, "routes"), newRoute);
        updateRoutes()
        newRoute = {};
    }

    async function deleteRoute(route) {
        routeStore.update(r => r.filter(x => x != route));
        await deleteDoc(doc(db, "routes", route.id))
    }
</script>
<input bind:value={newRoute.routeName}>
<button class="btn btn-base btn-filled-primary" on:click={addRoute}>create new route</button>
<ul>

    {#each $routeStore as route}
        <li class="my-2"><a href="/routes/{route.id}">{route.data().routeName}</a>
            <a class="pl-3 btn btn-sm btn-ghost-primary rounded-md" href="/routes/{route.id}/journey">
                Run Route &nbsp;<Fa icon={faPlay}/>
            </a>
            <button class="pl-3 btn btn-sm btn-ghost-warning rounded-md" on:click={()=>deleteRoute(route)}>
                Delete Route &nbsp;<Fa icon={faTrash}/>
            </button>
        </li>
    {/each}
</ul>
