<script lang="ts">
    import {db} from '$lib/utility/firebase';
    import {getFirestore, addDoc, getDoc, collection, updateDoc, doc} from "firebase/firestore";
    import {browser} from '$app/environment'
    import {page} from "$app/stores";
    import Stage from "./Stage.svelte";
    import Fa from "svelte-fa/src/fa.svelte";
    import {faCheckCircle, faPencil} from "@fortawesome/pro-solid-svg-icons";


    let route: any = {};
    let docReference;
    if (browser) {
        docReference = doc(db, "routes", $page.params.id);
        getDoc(docReference).then(r => route = r.data());
    }

    function addTarget() {
        if (!route.targets)
            route.targets = [];
        route.targets = [...route.targets, targetInput];
        targetInput = "";
        updateDoc(docReference, "targets", route.targets);
    }

    function addStageField() {
        if (!route.stageFields)
            route.stageFields = [];
        route.stageFields = [...route.stageFields, stageFieldInput];
        stageFieldInput = "";
        updateDoc(docReference, "stageFields", route.stageFields);
    }

    let stageFieldInput = "";

    let targetInput = "";

    function addStage() {
        if (!route.stages)
            route.stages = [];
        route.stages = [...route.stages, {}];
        saveStages()
    }

    function saveStages() {
        updateDoc(docReference, "stages", route.stages);
    }

    function deleteStage(stage) {
        route.stages = route.stages.filter(s => s !== stage);
        saveStages();
    }

    let editingField = "";
    let editingTarget = "";
    let editingText = "";

    function updateField() {
        const fields = route.stageFields;
        fields[fields.indexOf(editingField)] = editingText;
        route.stageFields = [...fields];
        route.stages.forEach(s => {
            if(s[editingField])
                s[editingText] = s[editingField];
            delete s[editingField];
        })
        editingField = "";
        editingText = "";
        saveStages();
        updateDoc(docReference, "stageFields", route.stageFields);
    }

    function updateTarget() {
        const targets = route.targets;
        targets[targets.indexOf(editingTarget)] = editingText;
        route.targets = [...targets];
        route.stages.forEach(s => {
            const targetOptions = s.targetOptions;
            if (targetOptions[editingTarget])
                targetOptions[editingText] = targetOptions[editingTarget];
            delete targetOptions[editingTarget];
        })
        editingTarget = "";
        editingText = "";
        saveStages();
        updateDoc(docReference, "targets", route.targets);
    }

</script>
<style lang="postcss">
</style>
{route.routeName || "Loading"}
<h3>Targets</h3>
<ul>
    {#each route.targets || [] as target}
        <li>
            {#if editingTarget === target}
                <input bind:value={editingText}/>
                <button class="btn btn-icon btn-icon-base" on:click={updateTarget}>
                    <Fa icon={faCheckCircle}/>
                </button>
            {:else}
                {target}
                <button class="btn btn-icon btn-icon-base" on:click={()=>editingTarget=target}>
                    <Fa icon={faPencil}/>
                </button>
            {/if}
        </li>
    {/each}
</ul>

<input bind:value={targetInput}>
<button class="btn btn-sm btn-filled-primary" on:click={addTarget}>Add Target</button>
<h3>Stage Fields</h3>
<ul>
    {#each route.stageFields || [] as stageField}
        <li>
            {#if editingField === stageField}
                <input bind:value={editingText}/>
                <button class="btn btn-icon btn-icon-base" on:click={updateField}>
                    <Fa icon={faCheckCircle}/>
                </button>
            {:else}
                {stageField}
                <button class="btn btn-icon btn-icon-base" on:click={()=>editingField=stageField}>
                    <Fa icon={faPencil}/>
                </button>
            {/if}
        </li>
    {/each}
</ul>

<input bind:value={stageFieldInput}>
<button class="btn btn-sm btn-filled-primary" on:click={addStageField}>Add Stage Field</button>

<hr/>
<button class="btn btn-sm btn-filled-primary" on:click={addStage}>Add Stage</button>
{#each route.stages || [] as stage}
    <Stage {stage} {...route} on:delete={()=>deleteStage(stage)} on:save={saveStages}/>
{/each}

