<script lang="ts">
    import {createEventDispatcher} from 'svelte';

    import Fa from "svelte-fa/src/fa.svelte";
    import {faTrash} from "@fortawesome/pro-solid-svg-icons";


    export let stageFields = [];
    export let targets = [];


    export let stage: any = {};

    const dispatch = createEventDispatcher();

    $:{
        if (!stage.targetOptions)
            stage.targetOptions = {};
    }

    let saveTimeout;
    let savedMessage = "";

    function triggerSave() {
        if (!saveTimeout) {
            saveTimeout = setTimeout(() => save(), 100);
            savedMessage = "";
        }
    }

    function save() {
        dispatch("save");
        savedMessage = 'Saved!';
        saveTimeout = undefined;
        setTimeout(() => savedMessage = "", 3000);

    }

    function toggleCollapse() {
        stage.collapsed = !stage.collapsed;
        save();
    }

</script>
<div class="shadow my-2 mx-4 rounded-t">
    <div class="p-3 hover:bg-surface-300 rounded-t" on:click|stopPropagation={toggleCollapse}>
        <p><a class="w-10 inline-block" on:click|preventDefault|stopPropagation={toggleCollapse}>{stage.collapsed ? 'Expand' : 'Collapse'}</a>
            <button class="ml-4 btn btn-icon hover:bg-warning-500"
                    on:click|preventDefault|stopPropagation={()=>dispatch("delete")}>
                <Fa class="inline" icon={faTrash}/>
            </button>
        </p>
    </div>
    {#if !stage.collapsed}
        <div class="px-3">

            <div class="flex">
                {#each stageFields as stageField}
                    <div class="flex-grow px-2 border mx-2 py-2"><label>{stageField} <input class="w-full"
                                                                                            on:input={triggerSave}
                                                                                            bind:value={stage[stageField]}></label>
                    </div>
                {/each}
            </div>
            <div>
                {#each targets as target}
                    <div>
                        <label>{target} <input class="w-full" bind:value={stage.targetOptions[target]}
                                               on:input={triggerSave}></label>
                    </div>

                {/each}
            </div>
            <p class="text-primary-700">&nbsp;{savedMessage}</p>
        </div>
    {/if}
</div>