<script lang="ts">
    import {db} from '$lib/utility/firebase';
    import {getFirestore, addDoc, getDoc, collection, updateDoc, doc} from "firebase/firestore";
    import {browser} from '$app/environment'
    import {page} from "$app/stores";
    import {goto} from '$app/navigation'
    import Fa from "svelte-fa/src/fa.svelte";
    import {faCheckCircle, faPencil, faPlay} from "@fortawesome/pro-solid-svg-icons";


    let route: any = {};
    let docReference;
    if (browser) {
        docReference = doc(db, "routes", $page.params.id);
        getDoc(docReference).then(r => route = r.data());
    }

    let selectedTarget;
    let selectedField;

    function runRoute(){
        goto(`/routes/${$page.params.id}/journey/run?target=${selectedTarget}&groupBy=${selectedField||''}`).then()
    }
</script>

<h3>Select Target</h3>
<div>
        {#each route.targets ||[] as target}
        <button class="btn btn-base rounded" class:btn-filled-primary={selectedTarget===target} on:click={()=>selectedTarget=target}>{target}</button>
    {/each}
</div>
<h3>Group By</h3>
<div>
    {#each route.stageFields ||[] as field}
        <button class="btn btn-base rounded" class:btn-filled-primary={selectedField===field} on:click={()=>selectedField=field}>{field}</button>
    {/each}
</div>

<button class="btn btn-base btn-filled-primary" disabled={!selectedTarget} on:click={runRoute}>
    Run Route&nbsp;
    <Fa class="inline-block" icon={faPlay}/>
</button>