<script lang="ts">

</script>

<div class="md:w-48 bg-surface-200 h-full flex flex-col items-center pt-5 gap-y-4 w-10">
    <h1 class="text-primary-700 hidden md:block">Route Guide</h1>
    <div class="text-primary-700 w-full">
        <ul class="mx-5">
            <li>links go here </li>
        </ul>

    </div>
</div>