:root {
	/* =~= Theme Styles =~= */
	--theme-border-base: 1px;
	--theme-font-family-heading: system-ui;
	--theme-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--theme-font-color-base: var(--color-surface-900);
	--theme-font-color-dark: var(--color-surface-50);
	--theme-rounded-base: 4px;
	--theme-rounded-container: 8px;
	/* =~= Theme Colors | Tailwind =~= */
	/* blue | #3b82f6 */
	--color-primary-50: 239 246 255; /* ⬅ #eff6ff */
	--color-primary-100: 219 234 254; /* ⬅ #dbeafe */
	--color-primary-200: 191 219 254; /* ⬅ #bfdbfe */
	--color-primary-300: 147 197 253; /* ⬅ #93c5fd */
	--color-primary-400: 96 165 250; /* ⬅ #60a5fa */
	--color-primary-500: 59 130 246; /* ⬅ #3b82f6 */
	--color-primary-600: 37 99 235; /* ⬅ #2563eb */
	--color-primary-700: 29 78 216; /* ⬅ #1d4ed8 */
	--color-primary-800: 30 64 175; /* ⬅ #1e40af */
	--color-primary-900: 30 58 138; /* ⬅ #1e3a8a */
	/* teal | #14b8a6 */
	--color-accent-50: 240 253 250; /* ⬅ #f0fdfa */
	--color-accent-100: 204 251 241; /* ⬅ #ccfbf1 */
	--color-accent-200: 153 246 228; /* ⬅ #99f6e4 */
	--color-accent-300: 94 234 212; /* ⬅ #5eead4 */
	--color-accent-400: 45 212 191; /* ⬅ #2dd4bf */
	--color-accent-500: 20 184 166; /* ⬅ #14b8a6 */
	--color-accent-600: 13 148 136; /* ⬅ #0d9488 */
	--color-accent-700: 15 118 110; /* ⬅ #0f766e */
	--color-accent-800: 17 94 89; /* ⬅ #115e59 */
	--color-accent-900: 19 78 74; /* ⬅ #134e4a */
	/* yellow | #eab308 */
	--color-ternary-50: 254 252 232; /* ⬅ #fefce8 */
	--color-ternary-100: 254 249 195; /* ⬅ #fef9c3 */
	--color-ternary-200: 254 240 138; /* ⬅ #fef08a */
	--color-ternary-300: 253 224 71; /* ⬅ #fde047 */
	--color-ternary-400: 250 204 21; /* ⬅ #facc15 */
	--color-ternary-500: 234 179 8; /* ⬅ #eab308 */
	--color-ternary-600: 202 138 4; /* ⬅ #ca8a04 */
	--color-ternary-700: 161 98 7; /* ⬅ #a16207 */
	--color-ternary-800: 133 77 14; /* ⬅ #854d0e */
	--color-ternary-900: 113 63 18; /* ⬅ #713f12 */
	/* rose | #f43f5e */
	--color-warning-50: 255 241 242; /* ⬅ #fff1f2 */
	--color-warning-100: 255 228 230; /* ⬅ #ffe4e6 */
	--color-warning-200: 254 205 211; /* ⬅ #fecdd3 */
	--color-warning-300: 253 164 175; /* ⬅ #fda4af */
	--color-warning-400: 251 113 133; /* ⬅ #fb7185 */
	--color-warning-500: 244 63 94; /* ⬅ #f43f5e */
	--color-warning-600: 225 29 72; /* ⬅ #e11d48 */
	--color-warning-700: 190 18 60; /* ⬅ #be123c */
	--color-warning-800: 159 18 57; /* ⬅ #9f1239 */
	--color-warning-900: 136 19 55; /* ⬅ #881337 */
	/* slate | #64748b */
	--color-surface-50: 248 250 252; /* ⬅ #f8fafc */
	--color-surface-100: 241 245 249; /* ⬅ #f1f5f9 */
	--color-surface-200: 226 232 240; /* ⬅ #e2e8f0 */
	--color-surface-300: 203 213 225; /* ⬅ #cbd5e1 */
	--color-surface-400: 148 163 184; /* ⬅ #94a3b8 */
	--color-surface-500: 100 116 139; /* ⬅ #64748b */
	--color-surface-600: 71 85 105; /* ⬅ #475569 */
	--color-surface-700: 51 65 85; /* ⬅ #334155 */
	--color-surface-800: 30 41 59; /* ⬅ #1e293b */
	--color-surface-900: 15 23 42; /* ⬅ #0f172a */
}